.weather-card {
  padding: 24px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 24px;
  box-shadow: 5px 5px 18px 2px rgba(27, 24, 24, 0.33);
}

@media (min-width: 375px) and (max-width: 812px) {
  .weather-card {
    width: 65vw;
    margin-right: 0px;
  }
}

.weather-card-image {
  height: 100px;
  width: 100px;
}

.description-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.description-title {
  font-weight: bold;
}
